<div class="row">
  <div class="col-md-6">
    <a routerLink="/sectors" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Back
    </a>
  </div>
  <div class="col-md-6">
  </div>
</div>
<br>
<div class="card">
  <div class="card-header head-custom">
    Add Sector
  </div>
  <div class="card-body">
    <form #sectorForm="ngForm" (ngSubmit)="onSubmit(sectorForm)">

      <div class="form-group">
        <label for="sectorName">Sector Name</label>
        <input type="text" class="form-control" name="sectorName" #sectorName="ngModel" [(ngModel)]="sector.name"
          minlength="2" required>
        <div [hidden]="!sectorName.errors?.required" class="invalid-feedback">
          Sector name required
        </div>
        <div [hidden]="!sectorName.errors?.minlength" class="invalid-feedback">
          Must be atleast 2 characters
        </div>
      </div>

      <div class="form-group">
        <label for="brief">Sector Description</label>
        <input type="text" class="form-control" name="brief" #brief="ngModel" [(ngModel)]="sector.brief" minlength="2"
          required>
        <div [hidden]="!brief.errors?.required" class="invalid-feedback">
          Description for the company required
        </div>
        <div [hidden]="!brief.errors?.minlength" class="invalid-feedback">
          Must be atleast 2 characters
        </div>
      </div>

      <input type="submit" value="Submit" class="btn btn-custom btn-block">
    </form>
  </div>
</div>